/* Default */
ul, ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* Top navigation bar */
nav.top-nav #top-nav:not(.in) .search-hashtag-form {
    margin-top: 15px;
}
nav.top-nav #top-nav.collapsing .search-hashtag-form,
nav.top-nav #top-nav.in .search-hashtag-form {
    margin-top: -1px;
}
nav.top-nav #top-nav:not(.in):not(.collapsing) .search-hashtag-form .search-hashtag-input {
    font-size: 10px;
    padding: 3px 10px;
    height: 30px;
    border: 0;
    outline: none;
}

/* Post */
.post-item .post-image {
    width: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.post-item hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

.post-item .comment-form input.content {
    border: 0;
    width: 100%;
    outline: none;
}

.post-item .comment-list {
    vertical-align: middle;
}

.post-item .comment-list .comment .comment-author {
    font-weight: bold;
    margin-right: 3px;
}