<div class="panel panel-default post-item">
	<img src="{{ post.photo.url }}" alt="" class="post-image">
	<div class="panel-body">
		<div class="btn-container">
			<form
				action="{% url 'imagebook:post_like_toggle' post_pk=post.pk %}?next=
					{% if post_type == 'list' %}
						{% url 'imagebook:post_list' %}#post-{{ post.pk }}
					{% elif post_type == 'detail' %}
						{% url 'imagebook:post_detail' post_pk=post.pk %}
					{% endif %}"
				method="POST"
				class="form-inline">
				{% csrf_token %}
				<button class="btn btn-default btn-post-toggle" aria-label="Like button">
				  <span
					  class="glyphicon
					    {% if post in user.like_posts.all %}
					      glyphicon-heart
							{% else %}
								glyphicon-heart-empty
							{% endif %}"
					  aria-hidden="true"></span>
				</button>
			</form>
			<a class="btn btn-default btn-post-toggle"
			   onclick="document.getElementById('{{ comment_form.content.id_for_label }}').focus()">
				<span class="glyphicon glyphicon-pencil"></span>
			</a>
		</div>
		{% with like_count=post.like_users.count %}
			{% if like_count %}
			<p class="like-count">
				{% if like_count < 10 %}
					<b>
					{% for user in post.like_users.all %}
						{{ user.username }}{% if not forloop.last %}, {% endif %}
					{% endfor %}
					</b>
					님이 좋아합니다
				{% else %}
					<b>좋아요 {{ user.like_posts.count }}개</b>
				{% endif %}
			</p>
			{% endif %}
		{% endwith %}
		
		{% if post.comment_set.exists %}
		<ul class="comment-list">
			{% for comment in post.comment_set.all %}
			<li class="comment">
				<span class="comment-author">{{ comment.author }}</span>
				<span class="comment-content">{{ comment.content }}</span>
			</li>
			{% endfor %}
		</ul>
		<hr>
		{% endif %}
			
		<form action="{% url 'imagebook:comment_create' post_pk=post.pk %}
			?next=
			{% if post_type == 'list' %}
				{% url 'imagebook:post_list' %}#post-{{ post.pk }}
			{% elif post_type == 'detail' %}
				{% url 'imagebook:post_detail' post_pk=post.pk %}
			{% endif %}"
		method="POST" class="comment-form">
			{% csrf_token %}
			{{ comment_form.content }}
		</form>
	</div>
</div>